:root {
  --0: 0 0% 0%;
  --1: 135 62% 17%;
  --2: 135 62% 17%;
  --3: 135 62% 17%;
  --4: 135 62% 17%;
  --5: 135 62% 17%;
  --6: 135 62% 17%;
  --7: 135 62% 17%;
  --8: 135 62% 17%;
  --9: 135 62% 17%;
  --10: 135 62% 17%;
  --11: 135 62% 17%;
  --12: 135 62% 17%;
  --13: 135 62% 17%;
  --14: 135 62% 17%;
  --15: 135 62% 17%;
  --16: 135 62% 17%;
  --17: 135 62% 17%;
  --18: 135 62% 17%;
  --19: 135 62% 17%;
  --20: 135 62% 17%;
  --21: 135 62% 17%;
  --22: 135 62% 17%;
  --23: 135 62% 17%;
  --24: 135 62% 17%;
  --25: 135 62% 17%;
  --26: 135 62% 17%;
  --27: 135 62% 17%;
  --28: 135 62% 17%;
  --29: 135 62% 17%;
  --30: 135 62% 17%;
  --31: 135 62% 17%;
  --32: 135 62% 17%;
  --33: 135 62% 17%;
  --34: 135 62% 17%;
  --35: 135 62% 17%;
  --43: 0 0% 100%;
  --50: 135 63% 28%;
  --53: 0 0% 100%;
  --73: 0 0% 100%;
  --80: 0 0% 100%;
  --83: 0 0% 100%;
  --183: 0 0% 100%;
  --941: 0 0% 0%;
  --1226: 0 0% 0%;
  --2004: 0 0% 0%;
  --5000: 0 0% 0%;
  --90078: 0 0% 100%;
  --16102024: 0 0% 0%;
  --23102024: 0 0% 100%;
  --launch-screen: 0 0% 100%;
  --onboarding-screen: 0 0% 100%;
  --registration-flows: 0 0% 100%;
  --main-navs: 0 0% 100%;
  --home-page-to-notifications: 0 0% 100%;
  --home-page-to-upcoming-bets: 0 0% 100%;
  --games-to-friends-list-bets: 0 0% 100%;
  --toggling-my-bets: 0 0% 100%;
  --bets-date-range: 0 0% 100%;
  --tapping-on-bet: 0 0% 100%;
  --games-and-challenges: 0 0% 100%;
  --hiding-balance: 0 0% 100%;
  --adding-new-card-and-manage: 0 0% 100%;
  --view-all-transactions: 0 0% 100%;
  --deposit-to-wallet: 0 0% 100%;
  --withdraw-from-wallet: 0 0% 100%;
  --friends-to-friends-request: 0 0% 100%;
  --friends-to-view-all-friends-to-remove-friend: 0 0% 100%;
  --friends-to-adding-friend-from-suggested-then-refreshing: 0 0% 100%;
  --searching-friends-and-empty-result: 0 0% 100%;
  --profile: 0 0% 100%;
  --profile-to-accont-information-to-change-username-and-edit-others: 0 0% 100%;
  --profile-to-security: 0 0% 100%;
  --profile-to-notification: 0 0% 100%;
  --profile-to-contact-us: 0 0% 100%;
  --profile-to-rate-app: 0 0% 100%;
  --profile-to-share-app: 0 0% 100%;
  --profile-to-update-app: 0 0% 100%;
  --profile-to-logout-to-loging-and-forgot-password: 0 0% 100%;
  --viewing-challenge-accepting-and-price: 0 0% 100%;
  --viewing-challenge-and-rejecting: 0 0% 100%;
  --viewing-all-challenges: 0 0% 100%;
  --empty-states: 0 0% 100%;
  --in-house-games: 0 0% 100%;
  --network-error: 0 0% 100%;
  --gradient-wallpapers: 0 0% 100%;
  --credor-v1010: 0 0% 100%;
  --vector: 135 63% 28%;
  --credor: 0 0% 100%;
  --home-indicator: 0 0% 100%;
  --battery: 0 0% 100%;
  --cap: 0 0% 100%;
  --capacity: 0 0% 100%;
  --wifi: 0 0% 100%;
  --wifi-path: 0 0% 0%;
  --cellular-connection: 0 0% 100%;
  --cellular-connection-path: 0 0% 0%;
  --time: 0 0% 100%;
  --register: 210 67% 99%;
  --frame-1171288069: 0 0% 100%;
  --backarrow: 0 0% 100%;
  --welcome-back-glad-to-see-you-again: 219 19% 15%;
  --frame-1171288070: 210 14% 97%;
  --enter-your-username: 212 14% 57%;
  --frame-1171288073: 210 14% 97%;
  --enter-your-email: 212 14% 57%;
  --frame-1171288071: 210 14% 97%;
  --create-a-password: 212 14% 57%;
  --confirm-password: 212 14% 57%;
  --login: 135 63% 28%;
  --divider: 218 17% 91%;
  --text: 216 18% 34%;
  --social-icon: 0 0% 100%;
  --frame-1171288074: 210 14% 97%;
  --path4: 0 0% 0%;
  --buttonsbutton: 0 0% 100%;
  --ellipse-356: 0 0% 0%;
  --credorr: 0 0% 100%;
  --active: 210 67% 99%;
  --mike22: 0 0% 0%;
  --mike22gmailcom: 0 0% 0%;
  --ellipse-211: 0 0% 0%;
  --ellipse-212: 0 0% 0%;
  --ellipse-213: 0 0% 0%;
  --ellipse-214: 0 0% 0%;
  --ellipse-215: 0 0% 0%;
  --ellipse-217: 0 0% 0%;
  --ellipse-218: 0 0% 0%;
  --ellipse-216: 0 0% 0%;
  --mikey12: 0 0% 0%;
  --rectangle-25: 0 0% 100%;
  --error: 210 67% 99%;
  --username-is-required: 358 85% 52%;
  --email-is-required: 358 85% 52%;
  --password-is-required: 358 85% 52%;
  --please-confirm-your-password: 358 85% 52%;
  --frame-1171288063: 0 0% 100%;
  --bet-against-real-people--no-house-edge: 0 0% 100%;
  --challenge-real-players-not-a-bookmaker-higher-odds-better-wins: 0 0% 100%;
  --rectangle-128691: 0 0% 100%;
  --rectangle-128692: 0 0% 100%;
  --bet-against-real-people---no-house-edge: 0 0% 100%;
  --win-on-matches--challenges: 0 0% 100%;
  --bet-on-your-favorite-teams-or-play-in-house-games-to-win-real-money: 0 0% 100%;
  --home: 210 67% 99%;
  --challenger-zone: 0 0% 0%;
  --review-and-accept-bets-sent-directly-to-you: 0 0% 0%;
  --view-all: 0 0% 0%;
  --wallet: 0 0% 0%;
  --frame-1171288041: 135 62% 17%;
  --color: 0 0% 100%;
  --youve-been-challenged: 0 0% 0%;
  --mrbeast2-has-challenged-you-for-bet-cre44239: 0 0% 0%;
  --frame-1171287980: 135 63% 28%;
  --bet: 135 63% 28%;
  --view-challenge: 0 0% 100%;
  --5m: 0 0% 0%;
  --abul32-has-challenged-you-for-bet-cre44239: 0 0% 0%;
  --21m: 0 0% 0%;
  --ellipse-1: 78 26% 75%;
  --welcome-back-: 0 0% 0%;
  --frame-1171287977: 0 0% 92%;
  --upcoming-bet: 0 0% 0%;
  --subtract: 135 62% 17%;
  --rectangle-128687: 0 0% 85%;
  --rectangle-128688: 0 0% 85%;
  --rectangle-128690: 0 0% 100%;
  --frame-1171288032: 0 0% 0%;
  --vs: 0 0% 100%;
  --rectangle-118: 42 58% 35%;
  --win: 0 0% 100%;
  --cre44239: 0 0% 0%;
  --my-prediction: 0 0% 100%;
  --rectangle-39842: 217 10% 84%;
  --logobox: 0 0% 100%;
  --ars: 0 0% 100%;
  --arsenal: 0 0% 100%;
  --path3381: 43 86% 46%;
  --path3383: 212 96% 30%;
  --path3385: 43 86% 46%;
  --path3387: 0 0% 100%;
  --path3389: 43 86% 46%;
  --path3391: 43 86% 46%;
  --path3393: 43 86% 46%;
  --path3395: 43 86% 46%;
  --path3397: 43 86% 46%;
  --path3399: 43 86% 46%;
  --path3401: 43 86% 46%;
  --path3403: 43 86% 46%;
  --path3405: 43 86% 46%;
  --path3407: 43 86% 46%;
  --path3409: 43 86% 46%;
  --path3411: 43 86% 46%;
  --path3413: 0 0% 100%;
  --path3415: 0 0% 100%;
  --path3417: 0 0% 100%;
  --path3419: 0 0% 100%;
  --path3421: 0 0% 100%;
  --path3423: 0 0% 100%;
  --path3425: 0 0% 100%;
  --path3427: 0 0% 100%;
  --path3429: 0 0% 100%;
  --path3431: 0 0% 100%;
  --path3433: 0 0% 100%;
  --path3435: 0 0% 100%;
  --path3437: 43 86% 46%;
  --path3439: 43 86% 46%;
  --path3441: 43 86% 46%;
  --path3443: 43 86% 46%;
  --path3445: 43 86% 46%;
  --path3447: 43 86% 46%;
  --path3449: 43 86% 46%;
  --path3451: 0 0% 100%;
  --path3453: 0 0% 100%;
  --path3455: 0 0% 100%;
  --path3457: 0 0% 100%;
  --path3459: 0 0% 100%;
  --path3461: 0 0% 100%;
  --path3463: 0 0% 100%;
  --path3465: 200 3% 83%;
  --path3469: 358 85% 52%;
  --path3070: 212 96% 30%;
  --path3471: 0 0% 100%;
  --path3473: 227 34% 56%;
  --path3477: 0 0% 100%;
  --path3479: 358 85% 52%;
  --path3481: 358 85% 52%;
  --path3483: 358 85% 52%;
  --path3485: 358 85% 52%;
  --path3487: 0 0% 100%;
  --path3489: 358 85% 52%;
  --path3491: 358 85% 52%;
  --path3493: 358 85% 52%;
  --path3495: 358 85% 52%;
  --path3497: 358 85% 52%;
  --path3499: 0 0% 100%;
  --path3501: 358 85% 52%;
  --path3503: 358 85% 52%;
  --path3505: 0 0% 100%;
  --path3507: 358 85% 52%;
  --path3509: 0 0% 100%;
  --path3511: 358 85% 52%;
  --path3513: 358 85% 52%;
  --path3515: 358 85% 52%;
  --path3517: 358 85% 52%;
  --path3519: 358 85% 52%;
  --path3521: 358 85% 52%;
  --path3523: 358 85% 52%;
  --path3525: 358 85% 52%;
  --path3527: 358 85% 52%;
  --path3529: 358 85% 52%;
  --path3531: 358 85% 52%;
  --path3533: 0 0% 100%;
  --path3535: 358 85% 52%;
  --path3537: 358 85% 52%;
  --path3539: 358 85% 52%;
  --path3541: 358 85% 52%;
  --path3543: 358 85% 52%;
  --path3545: 358 85% 52%;
  --path3547: 358 85% 52%;
  --path3549: 358 85% 52%;
  --path3551: 358 85% 52%;
  --path3553: 358 85% 52%;
  --path3555: 358 85% 52%;
  --cfc: 0 0% 100%;
  --chelsea-fc: 0 0% 100%;
  --abul32: 0 0% 100%;
  --nav: 0 0% 100%;
  --frame-1171287991: 0 0% 100%;
  --receipt-2: 0 0% 100%;
  --history: 0 0% 50%;
  --ellipse-4: 0 0% 50%;
  --empty-wallet: 0 0% 100%;
  --people: 0 0% 100%;
  --friends: 0 0% 50%;
  --component-5: 0 0% 100%;
  --frame-1171287993: 0 0% 100%;
  --frame-1171287992: 0 0% 100%;
  --frame-1171287994: 0 0% 100%;
  --frame-1171287995: 0 0% 100%;
  --ellipse-5: 135 70% 52%;
  --games: 210 67% 99%;
  --frame-5: 0 0% 100%;
  --search-for-a-friend-to-challenge: 0 0% 0%;
  --my-friends: 0 0% 0%;
  --tap-a-friend-to-challenge-and-bet: 0 0% 0%;
  --frame-1171287989: 0 0% 100%;
  --online: 240 52% 11%;
  --ellipse-144: 135 63% 28%;
  --challenge: 0 0% 100%;
  --mary992: 0 0% 0%;
  --offline: 240 52% 11%;
  --ellipse-2: 78 26% 75%;
  --kevin587: 0 0% 0%;
  --mrbeast1: 0 0% 0%;
  --credor-games: 0 0% 0%;
  --enjoy-in-house-games-and-compete-to-win: 0 0% 0%;
  --ludo-price: 0 0% 0%;
  --play-now: 0 0% 100%;
  --bets: 210 67% 99%;
  --my-bets: 0 0% 0%;
  --wallet-: 135 63% 28%;
  ---90078: 220 22% 8%;
  --frame-1171274716: 135 63% 28%;
  --all: 0 0% 100%;
  --frame-1171274717: 0 0% 100%;
  --upcoming: 0 0% 0%;
  --frame-1171274724: 0 0% 100%;
  --frame-1171274725: 0 0% 100%;
  --lose: 0 0% 0%;
  --calendar-: 135 63% 28%;
  --frame-1171288040: 0 0% 100%;
  --frame-1171288042: 0 0% 100%;
  --walllet: 210 67% 99%;
  --frame-1171287999: 133 100% 4%;
  --available-balance: 0 0% 100%;
  --us: 0 0% 100%;
  --usd: 0 0% 100%;
  --deposit: 0 0% 100%;
  --withdraw: 0 0% 100%;
  --cards: 0 0% 100%;
  --new: 0 0% 0%;
  --frame-1171288001: 108 49% 84%;
  --mike-roy: 0 0% 0%;
  -----9843: 0 0% 0%;
  --payment-method-icon: 133 100% 4%;
  --left: 358 100% 46%;
  --oval: 0 0% 85%;
  --oval-copy: 0 0% 85%;
  --right: 39 100% 49%;
  --middle: 22 100% 50%;
  --transactions: 0 0% 0%;
  --track-all-your-wallet-transactions-in-one-place: 0 0% 0%;
  --frame-1171287988: 0 0% 100%;
  --funds-added: 0 0% 0%;
  --timestamp-next-line: 215 19% 35%;
  --youve-successfully-added-50-to-your-credor-wallet: 0 0% 0%;
  --ellipsis: 0 0% 100%;
  --withdrawal-successful: 0 0% 0%;
  --30-has-been-withdrawn-from-your-credor-wallet: 0 0% 0%;
  --bet-won: 0 0% 0%;
  --congratulations-100-has-been-credited-to-your-credor-wallet: 0 0% 0%;
  --funds-used: 0 0% 0%;
  --youve-used-20-from-your-wallet-to-stake-a-bet-good-luck: 0 0% 0%;
  --search-for-friends: 0 0% 0%;
  --friends-request: 0 0% 0%;
  --let-new-players-into-your-betting-circle: 0 0% 0%;
  --frame-1707478296: 0 0% 100%;
  --suggested-friends: 0 0% 0%;
  --players-you-might-know-or-want-to-challenge: 0 0% 0%;
  --frame-1171287990: 0 0% 100%;
  --home-bar: 0 0% 100%;
  --settings: 210 67% 99%;
  --notifications: 0 0% 0%;
  --you-won-bet-cre44239: 0 0% 0%;
  --congratulations-your-winnings-have-been-credited-to-your-wallet: 0 0% 0%;
  --frame-1707478298: 3 100% 18%;
  --better-luck-next-time-bet-cre44239-lost: 0 0% 0%;
  --this-one-didnt-go-your-way-but-theres-always-the-next-game: 0 0% 0%;
  --bet-cre44239-has-been-canceled: 0 0% 0%;
  --your-funds-have-been-refunded-to-your-wallet: 0 0% 0%;
  --you-challenge-has-been-rejected: 0 0% 0%;
  --mrbeast2-has-turned-down-the-challenge-to-wager-cre44239: 0 0% 0%;
  --new-login-detected: 0 0% 0%;
  --a-new-login-was-detected-on-a-different-device-if-this-wasnt-you-change-your-password-immediately: 0 0% 0%;
  --your-password-has-been-updated: 0 0% 0%;
  --if-you-didnt-request-this-reset-your-password-now: 0 0% 0%;
  --frame-1171274726: 0 0% 100%;
  --frame-1171288043: 0 0% 100%;
  --frame-1171288044: 0 0% 100%;
  --frame-1171288048: 0 0% 100%;
  --frame-1171288047: 0 0% 100%;
  --frame-1171288049: 0 0% 100%;
  --frame-1171274727: 135 63% 28%;
  --ticket: 0 0% 100%;
  --rectangle-128694: 0 0% 0%;
  --date-and-time-picker---compact---expanded: 0 0% 100%;
  --header: 0 0% 100%;
  --month-yyyy: 220 22% 8%;
  --disclosure: 135 63% 28%;
  --date-header: 0 0% 100%;
  --sun: 217 10% 84%;
  --mon: 217 10% 84%;
  --tue: 217 10% 84%;
  --wed: 217 10% 84%;
  --thu: 217 10% 84%;
  --fri: 217 10% 84%;
  --sat: 217 10% 84%;
  --calendar: 0 0% 100%;
  --date: 220 22% 8%;
  --rectangle-39837: 135 63% 28%;
  --ellipse: 135 63% 28%;
  --single-date: 0 0% 100%;
  --frame-1171274721: 135 63% 28%;
  --date-range: 0 0% 100%;
  --ends: 220 22% 8%;
  --frame-1171274720: 0 0% 100%;
  --cancel: 220 8% 64%;
  --frame-1171274719: 135 63% 28%;
  --ok: 0 0% 100%;
  --page: 210 67% 99%;
  --premier-league: 0 0% 100%;
  ---: 0 0% 100%;
  --full-time: 0 0% 100%;
  --chelsea: 0 0% 100%;
  --saka: 0 0% 100%;
  --martinelli: 0 0% 100%;
  --partey: 0 0% 100%;
  --palmer: 0 0% 100%;
  --bet-summary: 0 0% 0%;
  --union: 135 62% 17%;
  --rectangle-128693: 0 0% 85%;
  --ellipse-355: 0 0% 85%;
  --opp-stake: 0 0% 100%;
  --my-stake: 0 0% 100%;
  --total-stake: 0 0% 100%;
  --opp-prediction: 0 0% 100%;
  --you-won: 135 70% 52%;
  --view-wallet: 135 63% 28%;
  --challenge-again: 0 0% 100%;
  --you-lost: 359 70% 52%;
  --not-started: 0 0% 100%;
  --pending: 43 86% 46%;
  --challenge-room: 0 0% 0%;
  --select-sport: 212 14% 57%;
  --select-team-a: 212 14% 57%;
  --frame-1171288072: 210 14% 97%;
  --select-team-b: 212 14% 57%;
  --search-fixtures: 0 0% 100%;
  --soccer: 0 0% 0%;
  --atletico-madrid: 0 0% 0%;
  --fixtures: 0 0% 0%;
  --view-fixtures-for-the-current-season-only-only-one-fixture-can-be-selected-per-challenge-room: 0 0% 0%;
  --frame-1171287984: 135 63% 28%;
  --rectangle-copy-17: 0 0% 64%;
  --atm: 0 0% 100%;
  --uefa-super-cup: 0 0% 100%;
  --checkbox-base: 0 0% 100%;
  --frame-1171288023: 135 63% 28%;
  --champions-league: 0 0% 100%;
  --frame-1171288024: 135 63% 28%;
  --select-fixture: 0 0% 100%;
  --frame-1171288025: 135 63% 28%;
  --check: 135 62% 17%;
  --kf: 0 0% 100%;
  --1-st-half: 0 0% 100%;
  --2nd-half: 0 0% 100%;
  --show-more: 249 9% 15%;
  --bet-field: 0 0% 100%;
  --13-over-over-8: 0 0% 0%;
  --stake: 0 0% 0%;
  --000: 0 0% 0%;
  --send-challenge: 0 0% 100%;
  --lock: 0 0% 100%;
  --rectangle-128680: 0 0% 0%;
  --handle: 240 6% 25%;
  --are-you-sure-you-want-to-send-this-challenge: 0 0% 0%;
  --the-winner-takes-all-winnings-while-credor-deducts-a-10-service-fee: 0 0% 0%;
  --successmark: 0 0% 100%;
  --challenge-sent-successfully: 0 0% 0%;
  --awaiting-your-opponents-response: 0 0% 0%;
  --go-to-home: 0 0% 100%;
  --keyboardnumpad: 225 10% 85%;
  --keynum: 240 50% 99%;
  --label: 0 0% 0%;
  --number: 0 0% 0%;
  --remove: 0 0% 0%;
  --home-barpro: 0 0% 100%;
  --icon: 216 6% 34%;
  --frame-49216: 0 0% 100%;
  --frame-49215: 0 0% 100%;
  --bg: 0 0% 100%;
  --a---z: 0 0% 0%;
  --aberdeen: 0 0% 0%;
  --ajax: 0 0% 0%;
  --al-ahly: 0 0% 0%;
  --atalanta: 0 0% 0%;
  --bayern-munich: 0 0% 0%;
  --boca-juniors: 0 0% 0%;
  --borussia-dortmund: 0 0% 0%;
  --burnley: 0 0% 0%;
  --rectangle-128681: 0 0% 85%;
  --search-for-a-team: 0 0% 0%;
  --frame-49214: 0 0% 100%;
  --popular-sports: 0 0% 0%;
  --football: 0 0% 0%;
  --basketball: 0 0% 0%;
  --tennis: 0 0% 0%;
  --archery: 0 0% 0%;
  --athletics: 0 0% 0%;
  --badminton: 0 0% 0%;
  --baseball: 0 0% 0%;
  --frame-1171287976: 0 0% 100%;
  --search-for-a-sport: 0 0% 0%;
  --manage-cards: 0 0% 0%;
  --frame-2147223391: 318 49% 84%;
  -----2303: 0 0% 0%;
  --visa-logo: 0 0% 100%;
  --path: 229 71% 31%;
  --add-new-card: 0 0% 0%;
  --card-details: 0 0% 0%;
  --card-number: 0 0% 0%;
  --cardholder-name: 0 0% 0%;
  --expiry-date: 0 0% 0%;
  --cvv: 0 0% 0%;
  --add-card: 0 0% 100%;
  --2220-2930-2890-2303: 0 0% 0%;
  --micheal-roy: 0 0% 0%;
  --frame-49217: 0 0% 100%;
  --frame-30: 0 0% 100%;
  --select-card: 0 0% 0%;
  --primary-card: 0 0% 0%;
  --secondary-card: 0 0% 0%;
  --continue: 0 0% 100%;
  --o: 0 0% 0%;
  --wallet-balance: 0 0% 0%;
  --amount-usd: 0 0% 0%;
  --top-up-now: 0 0% 100%;
  --switch-to-backup-card: 0 0% 0%;
  --withdraw-to-backup-card: 0 0% 0%;
  --remove-cards: 358 85% 52%;
  --remove-card: 0 0% 100%;
  --frame-2147223385: 0 0% 100%;
  --frame-1171287978: 0 0% 100%;
  --abdul2: 0 0% 0%;
  --4-mutual-friends: 240 52% 11%;
  --add-friend: 135 63% 28%;
  --abdul221: 0 0% 0%;
  --keyboarddefault: 225 10% 85%;
  --keyboardoption: 240 5% 93%;
  --done: 219 92% 58%;
  --keyboardsuggestion: 225 10% 85%;
  --tr: 230 5% 75%;
  --keyletter: 0 0% 100%;
  --symbol: 0 0% 0%;
  --keyshift: 221 11% 71%;
  --keysecondary: 221 11% 71%;
  --letter: 0 0% 0%;
  --keyspace: 0 0% 100%;
  --keyreturn: 221 11% 71%;
  --added: 135 63% 28%;
  --we-couldnt-find-anyone-with-that-username: 0 0% 0%;
  --double-check-the-spelling-or-try-searching-for-someone-else: 0 0% 0%;
  --reject: 358 85% 52%;
  --accept: 135 63% 28%;
  --remove-friend: 358 85% 52%;
  --frame-14: 358 85% 52%;
  --account-settings: 0 0% 0%;
  --account-information: 0 0% 0%;
  --security: 0 0% 0%;
  --contact-us: 0 0% 0%;
  --rate-our-app: 0 0% 0%;
  --share-app: 0 0% 0%;
  --refresh-square-2: 0 0% 100%;
  --update-app: 0 0% 0%;
  --logout: 5 81% 56%;
  --mi: 358 85% 52%;
  --username-must-be-at-least-3-characters: 358 85% 52%;
  --mikeheal21: 358 85% 52%;
  --only-letters-numbers-underscores-allowed: 358 85% 52%;
  --that-username-is-already-taken: 358 85% 52%;
  --ajhcom: 358 85% 52%;
  --please-enter-a-valid-email-address: 358 85% 52%;
  --mikeyahoocom: 358 85% 52%;
  --this-email-is-already-linked-to-an-account: 358 85% 52%;
  --password-must-be-at-least-8-characters: 358 85% 52%;
  --amazing: 358 85% 52%;
  --password-must-include-a-number-and-a-symbol: 358 85% 52%;
  --passwords-do-not-match: 358 85% 52%;
  --wed-love-to-get-to-know-youadd-a-few-details-to-personalize-your-experience: 212 14% 57%;
  --frame-1171288075: 210 14% 97%;
  --firstname: 212 14% 57%;
  --frame-1171288076: 210 14% 97%;
  --lastname: 212 14% 57%;
  --frame-1171288077: 210 14% 97%;
  --date-of-birth: 212 14% 57%;
  --mobile-number: 212 14% 57%;
  --location: 212 14% 57%;
  --mike: 0 0% 0%;
  --roy: 0 0% 0%;
  --02: 0 0% 0%;
  --1-555-653-9385: 0 0% 0%;
  --united-states: 0 0% 0%;
  --put-a-face-to-the-gameupload-your-profile-pic: 212 14% 57%;
  --frame-1707478306: 210 14% 97%;
  --gallery-add: 0 0% 100%;
  --click-to-upload-image: 212 14% 57%;
  --create-profiile: 0 0% 100%;
  --create-profile: 0 0% 100%;
  --frame-1171288079: 210 14% 97%;
  --frame-1171288083: 210 14% 97%;
  --frame-1171288084: 210 14% 97%;
  --frame-1171288085: 210 14% 97%;
  --verify: 0 0% 100%;
  --try-again: 0 0% 100%;
  --featured-icon: 210 14% 97%;
  --update-available: 0 0% 0%;
  --open-app-store: 0 0% 100%;
  --sharesheet: 240 3% 11%;
  ---title: 0 0% 100%;
  ---url: 240 33% 94%;
  --share-icon-square: 135 63% 28%;
  --app-icon: 0 34% 16%;
  --close: 240 2% 18%;
  --sf-symbol--xmark: 240 33% 94%;
  --separator: 240 2% 34%;
  --airdrop: 0 0% 100%;
  ---airdrop: 0 0% 100%;
  --sharesheet-to: 0 0% 100%;
  --avatar: 0 0% 100%;
  --messages: 0 0% 100%;
  --message: 0 0% 100%;
  ---label: 0 0% 100%;
  --photo: 240 2% 18%;
  ---2-people: 240 33% 94%;
  --whatsapp: 0 0% 100%;
  --border: 208 15% 78%;
  --phone: 0 0% 100%;
  --snapchat: 0 0% 100%;
  --stroke: 0 0% 0%;
  --body: 0 0% 100%;
  --f: 0 0% 100%;
  --frame-2147223289: 0 0% 0%;
  --telegram: 0 0% 100%;
  --tiktok: 0 0% 100%;
  --shareactionrowmenu: 0 0% 100%;
  --shareactionrow-item: 240 2% 18%;
  ---action: 0 0% 100%;
  ---icon: 0 0% 100%;
  ---sf-symbol: 0 0% 100%;
  --edit-actions: 211 100% 50%;
  --icons: 0 0% 100%;
  --can-you-tell-us-more: 212 14% 57%;
  --submit-feedback: 0 0% 100%;
  --rectangle-128695: 0 0% 0%;
  --edit: 0 0% 0%;
  --change-username: 0 0% 0%;
  --save-changes: 0 0% 100%;
  --frame-1707478297: 0 0% 100%;
  --to-set-a-new-passowrd-please-enter-current-password-first: 212 14% 57%;
  --enter-your-password: 212 14% 57%;
  --confirm: 0 0% 100%;
  --please-provide-a-new-password-to-replace-your-previous-one: 212 14% 57%;
  --enter-new-password: 212 14% 57%;
  --update-password: 0 0% 100%;
  --pick-a-new-username-to-represent-you-across-the-app: 212 14% 57%;
  --current-username: 0 0% 0%;
  --frame-2147223408: 210 14% 97%;
  --enter-new-username: 212 14% 57%;
  --whether-its-a-payment-issue-account-question-or-feedbackyou-can-reach-us-anytime: 212 14% 57%;
  --enter-your-full-name: 212 14% 57%;
  --enter-the-email-linked-to-your-account: 212 14% 57%;
  --tell-us-how-we-can-help: 212 14% 57%;
  --submit-request: 0 0% 100%;
  --forgot-password: 220 8% 45%;
  --opponent-prediction: 0 0% 0%;
  --opponent-stake: 0 0% 0%;
  --reject-challenge: 358 85% 52%;
  --accept-challenge: 0 0% 100%;
  --frame-2147223386: 0 0% 100%;
  --yes-reject: 0 0% 100%;
  --frame-2147223387: 0 0% 100%;
  --0000: 0 0% 0%;
  --you-cant-lower-your-stake-by-more-than-10-sp-from-the-challengers-original-amount: 0 0% 0%;
  --lock-in-bet: 0 0% 100%;
  --no-ones-called-you-out-yet: 0 0% 0%;
  --check-back-soon-or-send-a-challenge-to-someone-else-to-get-things-rolling: 0 0% 0%;
  --challenge-friend: 0 0% 100%;
  --frame-2147223417: 0 0% 100%;
  --no-bet-history-yet: 0 0% 0%;
  --once-you-start-betting-your-wins-losses-and-pending-bets-will-all-appear-here: 0 0% 0%;
  --you-havent-added-any-friends-yet: 0 0% 0%;
  --connect-with-others-to-challenge-chat-and-compete-together: 0 0% 0%;
  --find-friends: 0 0% 100%;
  --no-transactions-yet: 0 0% 0%;
  --once-you-start-making-deposits-withdrawals-or-bets-all-activity-will-show-up-here: 0 0% 0%;
  --top-up-wallet: 0 0% 100%;
  --no-notifications-yet: 0 0% 0%;
  --once-things-get-moving--challenges-wins-updates--theyll-all-show-up-here: 0 0% 0%;
  --no-friend-requests-yet: 0 0% 0%;
  --as-you-connect-and-play-friend-requests-will-start-rolling-in: 0 0% 0%;
  --desert1: 240 25% 79%;
  --desert2: 240 25% 79%;
  --xmlid-362: 240 25% 79%;
  --xmlid-361: 240 25% 79%;
  --xmlid-360: 240 25% 79%;
  --xmlid-359: 240 25% 79%;
  --oops-something-went-wrong-please-check-your-connection-and-try-again: 0 0% 0%;
  --frame-3: 135 63% 28%;
  --retry: 0 0% 100%;
  --our-servers-are-currently-unavailable-please-try-again-later-were-working-to-resolve-the-issue: 0 0% 0%;
  --refresh: 0 0% 100%;
  --send-code: 0 0% 100%;
  --create-a-new-password: 212 14% 57%;
  --reset-password: 0 0% 100%;
  --back-to-login: 0 0% 100%;
  --radius-21: 5px;
  --radius-nav: 16px;
  --radius-home-indicator: 104px;
  --radius-border: 2.7733333110809326px;
  --radius-capacity: 1.3866666555404663px;
  --radius-frame-1171288069: 8px;
  --radius-content: 12px;
  --radius-frame-1171288070: 8px;
  --radius-frame-1171288073: 8px;
  --radius-frame-1171288071: 8px;
  --radius-login: 8px;
  --radius-frame-1171288074: 8px;
  --radius-credor: 40px;
  --radius-rectangle-25: 4.557863235473633px;
  --radius-left-menu-button-large: 8px;
  --radius-wallet: 24px;
  --radius-frame-1171288041: 24px;
  --radius-frame-1171287980: 6px;
  --radius-frame-1171287977: 16px;
  --radius-frame-1171288034: 16px;
  --radius-rectangle-128687: 16px;
  --radius-frame-1171288032: 18px;
  --radius-frame-48095454: 13px;
  --radius-frame-1171288035: 4px;
  --radius-frame-1171274863: 8px;
  --radius-frame-5: 90px;
  --radius-frame-1171287989: 8px;
  --radius-rectangle-128679: 8px;
  --radius-wallet-: 30px;
  --radius-frame-1171274716: 22px;
  --radius-frame-1171274717: 22px;
  --radius-frame-1171274724: 22px;
  --radius-frame-1171274725: 22px;
  --radius-calendar-: 27px;
  --radius-frame-1171288040: 36px;
  --radius-frame-1171288042: 36px;
  --radius-frame-1171288001: 8px;
  --radius-payment-method-icon: 4px;
  --radius-frame-1171287988: 8px;
  --radius-frame-1707478296: 8px;
  --radius-frame-1171287990: 8px;
  --radius-frame-1707478298: 24px;
  --radius-frame-1171274726: 22px;
  --radius-frame-1171288043: 36px;
  --radius-frame-1171288044: 36px;
  --radius-frame-1171288048: 36px;
  --radius-frame-1171288047: 36px;
  --radius-frame-1171288049: 36px;
  --radius-frame-1171274727: 22px;
  --radius-rectangle-39837: 36px;
  --radius-frame-1171274721: 4px;
  --radius-frame-1171274720: 22px;
  --radius-frame-1171274719: 22px;
  --radius-frame-2147223370: 8px;
  --radius-frame-2147223372: 8px;
  --radius-frame-1171288072: 8px;
  --radius-frame-1171287984: 16px;
  --radius-checkbox-base: 10px;
  --radius-frame-1171288023: 16px;
  --radius-frame-1171288024: 16px;
  --radius-frame-1171288025: 16px;
  --radius-check: 9999px;
  --radius-kf: 8px;
  --radius-bet-field: 4px;
  --radius-handle: 100px;
  --radius-keynum: 5.470737934112549px;
  --radius-keynumber: 5.470737934112549px;
  --radius-keyremove: 5.470737934112549px;
  --radius-frame-49216: 8px;
  --radius-frame-49215: 8px;
  --radius-rectangle-128681: 24px;
  --radius-frame-49214: 8px;
  --radius-frame-2147223391: 8px;
  --radius-frame-49217: 8px;
  --radius-frame-1171287978: 16px;
  --radius-tr: 1px;
  --radius-keyletter: 4.599999904632568px;
  --radius-keyshift: 4.599999904632568px;
  --radius-keysecondary: 4.599999904632568px;
  --radius-keyspace: 4.599999904632568px;
  --radius-keyreturn: 4.599999904632568px;
  --radius-frame-1171287991: 8px;
  --radius-frame-14: 32px;
  --radius-frame-1707478323: 16px;
  --radius-component-1: 5px;
  --radius-component-2: 5px;
  --radius-component-3: 5px;
  --radius-component-4: 5px;
  --radius-frame-1171288075: 8px;
  --radius-frame-1171288076: 8px;
  --radius-frame-1171288077: 8px;
  --radius-frame-1707478306: 49.999996185302734px;
  --radius-frame-1171288079: 8px;
  --radius-frame-1171288083: 8px;
  --radius-frame-1171288084: 8px;
  --radius-frame-1171288085: 8px;
  --radius-featured-icon: 12px;
  --radius-share-icon-square: 4px;
  --radius-app-icon: 3.90000057220459px;
  --radius--icon: 3.90000057220459px;
  --radius-close: 100px;
  --radius-airdrop: 13px;
  --radius-avatar: 137.7777862548828px;
  --radius-photo: 100px;
  --radius-frame-2147223289: 30px;
  --radius-shareactionrowmenu: 13px;
  --radius-frame-1707478297: 8px;
  --radius-frame-2147223408: 8px;
  --radius-frame-2147223417: 24px;
  --radius-frame-3: 8px;
}

.dark {
  /* Dark mode overrides can go here */
}
